<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <p> Customer Name: <%= @quote.name %></p>
      
      <p>
         Email: <%= @quote.email %>
       <br>
      </p>
      <p>
        Phone: <%=@quote.mob_no%>
      </p>
      <p>
        Descriptions:  <%= @quote.description %>
      </p>
      
   </body>
</html>
