<%= render "partials/banner" %>
<section>
 	<div class="container">
    <div class="row">
     	<div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">SOLAR STRUCTURES:</div>
        <div class="work-on">
          <h3>1. Non Penetrating Solar Panel Mounting Structure:</h3>
          <img src="<%= asset_path("non_penetrating_solar_panel_mounting.jpg")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>2. Tin Roof Tilt Type Solar Panel Structure:</h3>
          <img src="<%= asset_path("tin_roof_tilt_type_solar_panel_structure.jpg")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>3. Mono Rail Solar Panel Structure:</h3>
          <img src="<%= asset_path("mono_rail_solar_panel_structure.jpg")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>4. Tin Shed Solar Mounting Structure:</h3>
          <img src="<%= asset_path("tin_shed_solar_mounting_structure.png")%>" class="img-responsive">
        </div>
     	</div>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">RCC Solar Mounting Structure:</div>
        <div class="work-on">
          <h3>1. MS Hot Dip Solar Mounting Structure:</h3>
          <img src="<%= asset_path("ms_hot_dip_solar_mounting_structure.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>2. Ballast Type Solar Panel Structure:</h3>
          <img src="<%= asset_path("ballast_type_solar_panel_structure.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>3. GI GROUND MOUNTED SOLAR STRUCTURE:</h3>
          <img src="<%= asset_path("gi_ground_mounted_solar_structure.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>4. Solar Water Pump Structure:</h3>
          <img src="<%= asset_path("solar_water_pump_structure.png")%>" class="img-responsive">
        </div>
      </div>
    </div>
 	</div>
</section>
<%= render "welcome/service", services: @services %>