<%= render "partials/banner" %>
<section>
 	<div class="container">
    <div class="row">
     	<div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Solar On Grid System:</div>
        <div class="work-on">
          <img src="<%= asset_path("solar_on_grid_system.png")%>" class="img-responsive">
        </div>
     	</div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Solar Off Grid System:</div>
        <div class="work-on">
          <img src="<%= asset_path("solar_off_grid_system.png")%>" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Solar hybrid System:</div>
        <div class="work-on">
          <img src="<%= asset_path("solar_hybrid_system.png")%>" class="img-responsive">
        </div>
      </div>
    </div>
 	</div>
</section>
<%= render "welcome/service", services: @services %>