<%= render "partials/banner" %>
<section>
 	<div class="container">
    <div class="row">
     	<div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Solar Street Light:</div>
        <div class="work-on">
          <img src="<%= asset_path("solar_street_light.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <img src="<%= asset_path("perfect_solution_in_street_light.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <img src="<%= asset_path("solar_panel_and_charge_controller.png")%>" class="img-responsive">
        </div>
     	</div>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Technical Specifications:</div>
        <div class="work-on">
          <img src="<%= asset_path("technical_specifications.png")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <img src="<%= asset_path("motion_sensor_based_automatic_operation.png")%>" class="img-responsive">
        </div>
      </div>
    </div>
</section>
<%= render "welcome/service", services: @services %>

