<%= render "partials/banner" %>
<section>
 	<div class="container">
    <div class="row">
     	<div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">Why solar:</div>
        <div class="challenges-information">
         	<p>Solar energy refers to energy from the sun. The sun has produced energy for billions of years. It is the most important source of energy for life forms. It is a renewable source of energy unlike non-renewable sources such as fossil fuels. Solar energy technologies use the sun’s energy to light homes, produce hot water, heat homes and electricity. World’s energy demand is growing fast because of population explosion and technological advancements. It is therefore important to go for reliable, cost effective and everlasting renewable energy source for energy demand arising in future. Solar energy, among other renewable sources of energy, is a promising and freely available energy source for managing long-term issues in an energy crisis.</p>
         	<p>The solar industry would definitely be the best option for future energy demand since it is superior in terms of availability, cost effectiveness, accessibility, capacity, and efficiency compared to other renewable energy sources. This paper, therefore, discusses the need of solar industry with its fundamental concepts, world’s energy scenario, and highlights of researches done to upgrade solar industry, its potential applications and barriers for the better solar industry in future in order to resolve the energy crisis.</p>
         	<p>The consumption of non-renewable sources like oil, gas, and coal is increasing at an alarming rate. The time has finally come to look after some other renewable sources of energy i.e. solar, wind and geothermal energy.</p>
 			<p>Solar energy is the most readily available source of energy. It does not belong to anybody and is, therefore, free. It is also the most important of the non-conventional sources of energy because it is non-polluting and, therefore, helps in lessening the greenhouse effect.</p>
 			<p>In India too, the Indian Renewable Energy Development Agency and the Ministry of Non-Conventional Energy Sources are formulating a program to have solar energy in more than a million households in the next few years. However, the people’s initiative is essential if the program is to be successful.</p>
 			<p>India is one of the few countries with long days and plenty of sunshine, especially in the Thar Desert region. This zone, having abundant solar energy available, is suitable for harnessing solar energy for a number of applications. In areas with similar intensity of solar radiation, solar energy could be easily harnessed. Solar thermal energy is being used in India for heating water for both industrial and domestic purposes. A 140 MW integrated solar power plant is to be set up in Jodhpur but the initial expense incurred is still very high.</p>
        </div>
     	</div>
     	<div class="col-md-5 col-sm-5 col-xs-12">
        <div class="work-on">
          <img src="<%= asset_path("solar_map_of_india.jpg")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <img src="<%= asset_path("capacity_addition_targets.jpg")%>" class="img-responsive">
        </div>
     	</div>
    </div>
 	</div>
</section>
<%= render "welcome/service", services: @services %>