<%= render "partials/banner" %>
<section>
 	<div class="container">
    <div class="row">
     	<div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">SOLAR IRRIGATION PUMP</div>
        <div class="challenges-information">
         	<p>
            <ul>
              <li>Both type of surface and submersible pump are usable</li>
              <li>AC/DC any type of pump will be working</li>
              <li>Low operational and maintenance cost</li>
              <li>5HP-10HP type of pump range available.</li>
              <li>Total costing of pump will be payback in 3-4 year.</li>
              <li>Long life span up to 25 year of operation</li>
            </ul>  
          </p>
        </div>
     	</div>
     	<div class="col-md-5 col-sm-5 col-xs-12">
        <div class="work-on">
          <img src="<%= asset_path("pv_solar_panels.png")%>" class="img-responsive">
        </div>
     	</div>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="challenges-heading">SOLAR WATER HEATER:</div>
        <div class="challenges-information">
          <p>A Solar Water Heater or Solar Thermal System is a system which provides hot water using solar energy. It heats water during day time which is stored in an insulated storage tank for use when required. It comprises of a or an array of solar collectors to collect solar energy and an insulated tank to store hot water.</p>
          <p>Two types of SWH are available; one based on flat plate collectors (FPC) are of metallic type and the other based on evacuated tube collectors (ETC) are made of glass which are of fragile in nature</p>
          <p>Salient Features of Solar Water Heating System.</p>
          <p>
            <ul>
              <li>Applicability at homes, hostels, hotels, hospitals, restaurants, dairies, industries .</li>
              <li>Soft and potable water can be used.</li>
              <li>Stainless Steel is used for small tanks whereas Mild Steel tanks with anticorrosion coating inside are used for large tanks</li>
              <li>Solar water heaters of 100-500 litres capacity are suited for domestic application.</li>
            </ul>  
          </p>
        </div>
        <div class="work-on">
          <h3>1. ETC Type:</h3>
          <img src="<%= asset_path("etc_type.jpg")%>" class="img-responsive">
        </div>
        <div class="work-on">
          <h3>2. FPC Type:</h3>
          <img src="<%= asset_path("fpc_type.jpg")%>" class="img-responsive">
        </div>
      </div>
    </div>


 	</div>
</section>
<%= render "welcome/service", services: @services %>