<div class="inner_header"> 
 	<img class="img-responsive" src="<%= asset_path("slider.png")%>">
	<div class="right_text_wrap">
		<div class="container">
		  <div class="row">
		     <div class="col-md-12 col-sm-12 col-xs-12 mid_contnt">
		        <div class="mid_heading"><span class="colored-text">Engineering</span> Your Dreams With Us<span class="colored-text">.</span></div>
		        <div class="mid-sub-title text-center">Constructions And Building</div>
		     </div>
		  </div>
		  <div class="row">
	     	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
         	<div class="header-button">
         		<button type="button" class="btn btn-default">Our Story</button>
						<a href="#Quote"><button type="button" class="btn btn-default active">Get a Quote</button></a>
	        </div>
	     	</div>
		  </div>
		</div>
	</div>
</div>