<section class="services" id="service">
    <div class="container">
    <div class="row">
        <a href="/welcome/service">
            <div class="sub-title text-center">Our Services</div>
            <h1 class="text-center">What We Do</h1>
        </a>

        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="service ">
            <img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(Service.find(1).service_icons.first.data
                ).gsub("\n", "")}")%>" class="img-responsive" />
            <a><p>SOLAR SECTION:</p></a>
            <span class="white">
              <ul>
                <li><%= link_to "Solar Introduction", services_solar_introduction_path %></li>
                <li><%= link_to "Solar Water Heater", services_solar_water_heater_path %></li>
                <li><%= link_to "Solar Street Light", services_solar_street_light_path %></li>
                <li><%= link_to "Solar Power Plant", services_solar_power_plant_path %></li>
                <li><%= link_to "Solar Structure", services_solar_structure_path %></li>
              </ul>
            </span>
          </div>
        </div>

        <% Service.active.order("updated_at DESC").each do |svs| %>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="service ">
            <a href="/welcome/service">
              <img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(svs.service_icons.first.data
                    ).gsub("\n", "")}")%>" class="img-responsive" />
              <p><%= svs.title %></p>
              <span class="white"><%= raw svs.description %></span>
            </a>
          </div>
        </div>
        <%end%>
    </div>
</section>
<style type="text/css">
  a, a:hover{color: #fff;}
  span.white{color:white;}
</style>
