<div class="inner_header"> 
       <img class="img-responsive" src="<%= asset_path("slider.png")%>">
      <div class="right_text_wrap">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 mid_contnt">
                  <div class="mid_heading"><span class="colored-text">Engineering</span> Your Dreams With Us<span class="colored-text">.</span></div>
                  <div class="mid-sub-title text-center">Constructions And Building</div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                   <div class="header-button">
                     <button type="button" class="btn btn-default">Our Story</button>
                     <!-- <a href="#Quote"><button type="button" class="btn btn-default active">Get a Quote</button></a> -->
                     
                  </div>
               </div>
            </div>
         </div>
      </div>   
</div>
<section class="product">
   <div class="container">
      <div class="row">
         <div class="pro">
            <%@project_categories.each do |project_cate|%>
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="product-information">
                     <img src="<%= asset_path 'product.png' %>" class="img-responsive"/>
                     <div class="h5"><%=project_cate.try(:name)%></div>
                     <div class="h6"><%= raw project_cate.try(:description)%></div>
                  </div>
               </div>
            <% end %>
         </div>
      </div>
      <div class="row">
         <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="challenges-heading">About</div>
            <div class="challenges-information">
               <%= raw @aboutus.try(:about)%>
               <!-- Sustainable glazing is a company of Young Professionals with core competency in engineering & management.
               Our core team has strong technical expertise in Glass and fabrication and is focused to upgrade the industry standards. -->
            </div>
            <!-- <div class="challenges-information">Its name is self explanatory that our basic philosophy is to build sustainable façade and make our environment greener. We are here committed towards making self sustainable glazing. We believe in executing complex structures through technology and innovation through energy efficient glass & Aluminum.
            </div>
            <div class="challenges-information">					
               Our technical partner for Aluminum is Alcoa Group, Kawneer Systems, largest aluminum manufacturer in the world. We believe that project completion is an art and this Art is our core strength. We feel pride in converting Designers Dream into Reality with the best European fabrication techniques and making marvelous structures with the help of new & innovative technology. 
            </div>
            <div class="challenges">
               <div class="challenges-sub-heading">Create the effective presentation</div>
               <div class="challenges-heading">Lead through the challanges and give you success!</div>
               <h6 class="challenges-info">Cast obscure badger jeep quail congenially along hello sed where when changed as cat jeepers affectionate paternal tidily generous thus goodness this far like hey behind labore et dolore sed magna aliqua uet enim ad minim veniam quis nostrud.</h6>
            </div> -->
         </div>
         <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="work-on">
               <% if @aboutus.about_image.present?%>
                  <img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(@aboutus.about_data).gsub("\n", "")}")%>" class="img-responsive" style="height: 458px; width: 395px;"/>
                  <%else%>
                  <img src="<%= asset_path("aboutus.png")%>" class="img-responsive">
               <%end%>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="achievement">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="achievement-info work-success-info text-center">
               <img src="<%= asset_path 'projects.png'%>" class="img-responsive"/>
               <p class="scale"><a href="#"><%=@company_info.try(:project)%>+<span class="Project-count"> Projects</span></a></p>
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="achievement-info work-success-info text-center">
               <img src="<%= asset_path 'employee.png'%>" class="img-responsive"/>
               <p class="scale"><a href="#"><%=@company_info.try(:employer)%>+<span class="Project-count"> Employers</span></a></p>
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="achievement-info work-success-info text-center">
               <img src="<%= asset_path 'customer.png'%>" class="img-responsive"/>
               <p class="scale"><a href="#"><%=@company_info.try(:customer)%>+<span class="Project-count"> Customers</span></a></p>
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="achievement-info work-success-info text-center">
               <img src="<%= asset_path 'award.png'%>" class="img-responsive"/>
               <p class="scale"><a href="#"><%=@company_info.try(:award)%>+<span class="Project-count"> Awards</span></a></p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="mission">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="mission-part">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="mission-image">
                        <% if @aboutus.mission_image.present? %>
                           <img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(@aboutus.mission_data).gsub("\n", "")}")%>" class="img-responsive" style="height: 251px; width: 264px;"/>
                           <%else%>
                           <img src="<%= asset_path("mission.png")%>" class="img-responsive">
                        <%end%>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="mission-info">
                        <h2 class="projcts visn">Our Mission</h2>
                        <h6 class="challenges-info mission-details">
                           <%= raw @aboutus.try(:mission)%>
                        </h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="mission-part">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="mission-image">
                        <% if @aboutus.vision_image.present? %>
                           <img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(@aboutus.vision_data).gsub("\n", "")}")%>" class="img-responsive" style="height: 251px; width: 264px;"/>
                           <%else%>
                           <img src="<%= asset_path("vision.png")%>" class="img-responsive">
                        <%end%>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="mission-info">
                        <h2 class="projcts visn">Our vision</h2>
                        <h6 class="challenges-info mission-details">
                            <%= raw @aboutus.try(:vision)%>
                        </h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- <section class="service-detail">
   <div class="container">
      <div class="row">
         <h2 class="text-center projcts">Our Services</h2>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme hideme">
               <img src=" <%= asset_path 'construction.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">construction</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'architecture.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">architecture</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'planning.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">Planning</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'outer.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">Outerior Design</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'modern.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">Modern Design</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'renovation.png' %> " class="img-responsive" />
               <p class="service-title"><a href="#">Renovation</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2 col-sm-2"></div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'consulting.png' %>" class="img-responsive" />
               <p class="service-title"><a href="#">Consulting</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service service-description hideme">
               <img src=" <%= asset_path 'interior.png'%>" class="img-responsive" />
               <p class="service-title"><a href="#">Interior Design</a></p>
               <p class="service-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
         </div>
         <div class="col-md-2 col-sm-2"></div>
      </div>
   </div>
   </div>
</section> -->
<%= render "service",services: @services %>
<section class="partners">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="comapny-list">
               <ul class="partners-list">
                  <li class="imp-links"><a href="#"><img src=" <%= asset_path 'paytm.png'%>" class="img-responsive"/></a></li>
                  <li class="imp-links"><a href="#"><img src=" <%= asset_path 'mmr.png'%> " class="img-responsive"/></a></li>
                  <li class="imp-links"><a href="#"><img src=" <%= asset_path 'radission.png'%>" class="img-responsive"/></a></li>
                  <li class="imp-links"><a href="#"><img src=" <%= asset_path 'plaza.png'%>" class="img-responsive"/></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!----------------------------------------------->
