<%if params[:controller] == "quotes"%>
	$('#flash').html("<%= j render partial: 'layouts/message' %>");
	$("form")[0].reset();
<%else%>
	$('#flash1').html("<%= j render partial: 'layouts/message' %>");
	$("form")[1].reset();
<%end%>	
