<%= render "partials/banner" %>
<section class="work">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-4 col-sm-4 col-xs-12">
				    <div class="work-information">
						<img src="<%= asset_path("work-image.png")%>" class="img-responsive"/>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
				    <div class="year-info">
				    <div class="row">
					    <div class="col-md-4 col-sm-4 col-xs-4">
						<div class="year"><span class="year-exp">Since</span><img src="<%= asset_path("2010.png")%>" class="img-responsive"></div>
						</div>
						 <div class="col-md-4 col-sm-4 col-xs-4">
						<div class="experience"><span class="year-exp"><%= @company_info.try(:year)%>+ year of</span> Success <span class="wrk">Work</span></div>
						</div>
						 <div class="col-md-4 col-sm-4 col-xs-4">
						 </div>
					</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="work-success">
							<p><%= raw @company_info.try(:description)%></p>	
							</div>
						</div>
					</div>
					<div class="row">
					<div class="market-view">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="work-success-info">
							    <p class="scale"><a href="#"><%=@company_info.try(:project)%>+<span class="Project-count"> Projects</span></a></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="work-success-info">
							    <p class="scale"><a href="#"><%=@company_info.try(:employer)%>+<span class="Project-count"> Employers</span></a></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="work-success-info">
							    <p class="scale"><a href="#"><%=@company_info.try(:customer)%>+<span class="Project-count">  Customers</span></a></p>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<div class="work-success-info">
							    <p class="scale"><a href="#"><%=@company_info.try(:award)%>+<span class="Project-count"> Awards</span></a></p>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
      </section>
	  
  <%= render 'service', services: @services %>
	  
	<section class="gallery">
	    <div class="container">
		    <div class="main">
				<div class="row">
				    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
						<div class="sub_titl">Professional Work</div>
						<h2 class="projcts">Our Projects</h2>
					</div>
				    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<div id="myBtnContainer">
						<button class="btn active" onclick="filterSelection('all')"> Show all</button>
						<% @project_categories.each do |category|%>	
						<button class="btn" onclick="filterSelection('<%=category.name%>')"> <%=category.name%></button>
						<%end%>
						<!-- <button class="btn" onclick="filterSelection('nature')"> Construction</button>
						<button class="btn" onclick="filterSelection('cars')">Architecture</button>
						<button class="btn" onclick="filterSelection('people')"> Modern</button> -->
					</div>
				    </div>
				</div>
			
				<div class="row">
					<% @projects.each do |project|%>
					<%#project.images.each do |image|%>
						<div class="col-md-4 col-sm-4 col-xs-4 column <%=project.try(:project_type)%>">
							<div class="content project-transition">
								<a href="<%=project_path(project)%>"><img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(project.images.first.data).gsub("\n", "")}")%>" alt="Mountains" style="width:100%">
									<div class="cards project-card">
										    <p class="left-wrap"><span class="left-card"><%=project.name%> </span></p>
											 
									</div>
								</a>
							</div>
						</div>
					<%#end%>
				<%end%>	
			  	</div>
				</div>
			</div>		
   </section>	
   <section class="team">
	    <div class="container">
		    <div class="row">
			<div class="sub_titl text-center">Creative People</div>
		    <h2 class="text-center">Our Team</h2>
		    	<% @teams.each do |team|%>
					<div class="col-md-3 col-sm-3 col-xs-12">
					    <div class="our-team">
							<a href="#"><img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(team.data).gsub("\n", "")}")%>" class="img-responsive"/>
							<h5><%=team.name%></h5>
							<h6><%=team.description%></h6>
						<ul class="team-follow">
							    <li class="link"><a href="//<%=team.try(:facebook)%>"target="_blank" class="private"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li class="link"><a href="//<%=team.try(:google)%>"target="_blank" class="private"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li class="link"><a href="//<%=team.try(:twitter)%>"target="_blank" class="private"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li class="link"><a href="//<%=team.try(:instagram)%>"target="_blank" class="private"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li class="link"><a href="//<%=team.try(:pinterest)%>"target="_blank" class="private"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul></a>
						</div>
					</div>
			   <%end%>	
				<!-- <div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="our-team">
						<a href="#"><img src="<%= asset_path("emp1.png")%>" class="img-responsive" />
							<h5>Lorem Ipsum</h5>
						<h6>Construction Engineer</h6>
					<ul class="team-follow">
					    <li class="link"><a href="#" class="private"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="our-team">
						<a href="#"><img src="<%= asset_path("emp1.png")%>" class="img-responsive" />
							<h5>Lorem Ipsum</h5>
						<h6>Construction Engineer</h6>
					<ul class="team-follow">
					    <li class="link"><a href="#" class="private"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="our-team">
						<a href="#"><img src="<%= asset_path("emp1.png")%>" class="img-responsive" />
							<h5>Lorem Ipsum</h5>
						<h6>Construction Engineer</h6>
					<ul class="team-follow">
					    <li class="link"><a href="#" class="private"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="link"><a href="#" class="private"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul></a>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	
	<section class="testimonial">
	    <div class="container">
		    <div class="row">
			   <div class="sub-title text-center">From Clients Says</div>
				<h1 class="text-center">Testimonials</h1>
				<div class="col-md-12 col-sm-12 col-xs-12">
				    <div class="row">
					    <div class="testimonal-data">
					    	<% @testimonials.each do |testimonial| %>
							    <div class="col-md-4 col-sm-4 col-xs-12">
								    <div class="testimonal-img  desktop-view-hidden">
								    	<% if testimonial.client_image.present?%>
									    	<img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(testimonial.client_data).gsub("\n", "")}")%>" class="img-circle" style="height: 98px; width: 98px;"/>
									    	<%else%>
									    	<img src="<%= asset_path("testimonal-img.png")%>" class="img-responsive">
								    	<%end%>
								    </div>
									<div class="testimonals-text">
										<%= raw testimonial.try(:description) %>
										<div class="author text-center"><%= testimonial.try(:name) %>
										</div>
									</div>
								</div>
							<% end -%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	  
	<section class="quote" id="Quote">
	    <div class="container">
	    <div id="flash"></div>
		    <div class="row">
			    <div class="sub_titl text-center">We Always Help You</div>
				<h2 class="text-center">Request a Quote</h2>
				<div class="col-md-1 col-sm-1"></div>
			    <div class="col-md-5 col-sm-5 col-xs-12">
				    <div class="quote-img">
					    <img src="<%= asset_path("quote.png")%>" class="img-responsive" />
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12">
				<%= form_for @quote,  url: quotes_path,html: {class: "well form-horizontal"},remote: true  do |f| %>
				
                      <fieldset>
                         <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                               	<%= f.text_field :name, class: "form-control", placeholder: "Your Name",:required => true %></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                                  <select class="form-control" name="quote[description]" id="quote_description">
                                  	<option value="">I would like to disscuss about.....</option>
									<option value="Project">Project Information</option>
									<option value="Request">Request</option>
									<option value="General Information">General Information</option>
								</select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                               	<%= f.text_field :email, class: "form-control", placeholder: "Your Email",:required => true %></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="col-md-12 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                               	<%= f.text_field :mob_no, class: "form-control", placeholder: "Your Phone Number",:required => true %></div>
                            </div>
                         </div>
                      </fieldset>
					  <button type="submit" class="btn btn-primary">Submit</button>
                   <%end%>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</div>
		</div>
	</section>
	<section class="news">
	    <div class="container">
		    <div class="row">
			    <div class="sub_titl text-center">Follow Company Updates</div>
				<h2 class="text-center">Company News</h2>
				<% @news.each do |news|%>
					<div class="col-md-3 col-sm-3 col-xs-12">
					    <div class="company-news">
						    <a href="#">
						    	<img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(news.project_image).gsub("\n", "")}")%>" class="img-responsive"/>
						    	
										<div class="cards">
										    <p class="left-wrap">By <span class="left-card"><%=Project.find(news.project_id).name%> </span></p>
											 <p class="right-wrap"><%= news.created_at.to_date%></p>
										</div>
							</a>
						</div>
					</div>
				<% end %>	
			    <!-- <div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="company-news">
					    <a href="#"><img src="<%#= asset_path("news2.png")%>" class="img-responsive"/>
					<div class="cards">
					    <p class="left-wrap">By <span class="left-card">MMR GROUP </span></p>
						 <p class="right-wrap">18 Sept 2018</p>
					</div></a>		
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="company-news">
					    <a href="#"><img src="<%#= asset_path("news3.png")%>" class="img-responsive"/>
					<div class="cards">
					    <p class="left-wrap">By <span class="left-card">C. B. I.</span></p>
						 <p class="right-wrap">18 Sept 2018</p>
					</div></a>	
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
				    <div class="company-news">
					    <a href="#"><img src="<%#= asset_path("news4.png")%>" class="img-responsive"/>
					<div class="cards">
					    <p class="left-wrap">By <span class="left-card">C. B. I.</span></p>
						 <p class="right-wrap">18 Sept 2018</p>
					</div></a>	
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<section class="partners">
	    <div class="container">
		    <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="comapny-list">
						<ul class="partners-list">
							<li class="imp-links"><a href="#"><img src="<%= asset_path("paytm.png")%>" class="img-responsive"/></a></li>
							<li class="imp-links"><a href="#"><img src="<%= asset_path("mmr.png")%>" class="img-responsive"/></a></li>
							<li class="imp-links"><a href="#"><img src="<%= asset_path("radission.png")%>" class="img-responsive"/></a></li>
							<li class="imp-links"><a href="#"><img src="<%= asset_path("plaza.png")%>" class="img-responsive"/></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<script type="text/javascript">
	filterSelection("all")
	$('.active-class').addClass('active');
	function filterSelection(c) {
	  $('.active-class').removeClass('active');
	  var x, i;
	  x = document.getElementsByClassName("column");
	  if (c == "all") c = "";
	  for (i = 0; i < x.length; i++) {
	    w3RemoveClass(x[i], "show");
	    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
	  }
	}

	function w3AddClass(element, name) {
	  var i, arr1, arr2;
	  arr1 = element.className.split(" ");
	  arr2 = name.split(" ");
	  for (i = 0; i < arr2.length; i++) {
	    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
	  }
	}

	function w3RemoveClass(element, name) {
	  var i, arr1, arr2;
	  arr1 = element.className.split(" ");
	  arr2 = name.split(" ");
	  for (i = 0; i < arr2.length; i++) {
	    while (arr1.indexOf(arr2[i]) > -1) {
	      arr1.splice(arr1.indexOf(arr2[i]), 1);     
	    }
	  }
	  element.className = arr1.join(" ");
	}


	// Add active class to the current button (highlight it)
	var btnContainer = document.getElementById("myBtnContainer");
	var btns = btnContainer.getElementsByClassName("btn");
	for (var i = 0; i < btns.length; i++) {
	  btns[i].addEventListener("click", function(){
	    var current = document.getElementsByClassName("active");
	    current[0].className = current[0].className.replace(" active", "");
	    this.className += " ";
	  });
	}
</script>
<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

  <style type="text/css">
ul.white{
  color:white;
}
</style>
<style type="text/css">
	li.black{
  color:white;
}
.project-transition:hover {
    transition: all .6s ease-in-out;
    transform: scale(1.05);
}
.project-card
{
	position: relative;
}

</style>

<!-- <script type="text/javascript">
	   $(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                
                $(this).animate({'opacity':'1'},500);
                    
            }
            
        }); 
    
    });
    
});
</script> -->
