<div class="inner_header"> 
       <img class="img-responsive" src="<%= asset_path("slider.png")%>">
      <div class="right_text_wrap">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 mid_contnt">
                  <div class="mid_heading"><span class="colored-text">Engineering</span> Your Dreams With Us<span class="colored-text">.</span></div>
                  <div class="mid-sub-title text-center">Constructions And Building</div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                   <div class="header-button">
                     <button type="button" class="btn btn-default">Our Story</button>
                     <!-- <a href="#Quote"><button type="button" class="btn btn-default active">Get a Quote</button></a> -->
                     
                  </div>
               </div>
            </div>
         </div>
      </div>   
    </div>
<section class="gallery-sliders">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="flexslider">
               <ul class="slides">
                  <li>
                     <img src="<%=asset_path "slider1.png"%>" />
                  </li>
                  <li>
                     <img src="<%=asset_path "slider2.png" %>" />
                  </li>
                  <li>
                     <img src="<%=asset_path "slider3.png" %>" />
                  </li>
                  <li>
                     <img src="<%=asset_path "slider4.png" %>" />
                  </li>
               </ul>
            </div>
         </div>
         <!--<div class="col-md-3 col-sm-3 col-xs-12">
            <ul class="slides-content">
            <li>
            <img src="<%=asset_path "slider1.png"%>" />
            <h6>MMR Group</h6>
            </li>
            <li>
            <img src="<%=asset_path "slider2.png" %>" />
            <h6>MMR Group</h6>
            </li>
            </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
            <ul class="slides-content">
            <li>
            <img src="<%=asset_path "slider1.png"%>" />
            <h6>MMR Group</h6>
            </li>
            <li>
            <img src="<%=asset_path "slider2.png" %>" />
            <h6>MMR Group</h6>
            </li>
            </ul>
            </div>--->
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="contact-map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56028.2556664276!2d77.25191712354282!3d28.636775131468987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb5614d9cee3%3A0x1a739c7ab9cd4710!2sNirman+Vihar!5e0!3m2!1sen!2sin!4v1484562677939"></iframe>
            </div>
         </div>
      </div>
      <div class="row">
         <div  class="project-content">
            <div class="col-md-3 col-sm-3 col-xs-12">
               <ul class="content-list">
                  <li><span class="colored-txt"><img src="<%=asset_path "project-name.png" %>">Name of the Project :</span> Partap Infotech</li>
                  <li><span class="colored-txt"><img src="<%=asset_path "location.png" %>">Location : </span>Noida</li>
               </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <ul class="content-list">
                  <li><span class="colored-txt"><img src="<%=asset_path "client.png" %>">Client : </span>Forum Projects Ltd.</li>
                  <li><span class="colored-txt"><img src="<%=asset_path "archtect.png" %>">Architect : </span> Arc 10 Studio</li>
               </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <ul class="content-list">
                  <li><span class="colored-txt"><img src="<%=asset_path "construct.png" %>">Consultant : </span> BES Facade Consultant</li>
                  <li><span class="colored-txt"><img src="<%=asset_path "type.png" %>">Type : </span> Commercial</li>
               </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <ul class="content-list inline-txt">
                  <li><span class="colored-txt"><img src="<%=asset_path "total.png" %>">Total sq. m :</span> 32000 sqm</li>
                  <li><span class="colored-txt"><img src="<%=asset_path "floor.png" %>">Floor : </span> 38</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="crousal-slide">
   <div class="container">
      <div class="row">
         <h2 class="text-center projcts">Other Projects</h2>
         <div class="projects-slide-list">
            <div class="col-md-3 col-sm-3 col-xs-12">
               <div class="other-projects">
                  <img src="<%=asset_path "craousl1.png" %>" class="img-responsive"/>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <div class="other-projects">
                  <img src="<%=asset_path "craousl2.png" %>" class="img-responsive"/>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <div class="other-projects">
                  <img src="<%=asset_path "craousl3.png" %>" class="img-responsive"/>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
               <div class="other-projects">
                  <img src="<%=asset_path "craousl4.png" %>" class="img-responsive"/>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!----------------------------------------------->
  
<script type="text/javascript">
  $(function() {
    $('.flexslider').flexslider({
       animation: "slide"
     });
  })
</script>