<div class="inner_header"> 
       <img class="img-responsive" src="<%= asset_path("slider.png")%>">
      <div class="right_text_wrap">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 mid_contnt">
                  <div class="mid_heading"><span class="colored-text">Engineering</span> Your Dreams With Us<span class="colored-text">.</span></div>
                  <div class="mid-sub-title text-center">Constructions And Building</div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                   <div class="header-button">
                     <button type="button" class="btn btn-default">Our Story</button>
                     <!-- <a href="#Quote"><button type="button" class="btn btn-default active">Get a Quote</button></a> -->
                     
                  </div>
               </div>
            </div>
         </div>
      </div>   
    </div>
   <section class="gallery">
       <div class="container">
          <div class="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                  <div class="sub_titl">Professional Work</div>
                  <h2 class="projcts">Our Projects</h2>
               </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
               <div id="myBtnContainer">
                  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                  <% @project_categories.each do |category|%>  
                  <button class="btn" onclick="filterSelection('<%=category.name%>')"> <%=category.name%></button>
                  <%end%>
                  <!-- <button class="btn" onclick="filterSelection('nature')"> Construction</button>
                  <button class="btn" onclick="filterSelection('cars')">Architecture</button>
                  <button class="btn" onclick="filterSelection('people')"> Modern</button> -->
               </div>
                </div>
            </div>
         <div class="row">
          <% @projects.each do |project|%>
          <%#project.images.each do |image|%>
            <div class="col-md-4 col-sm-4 col-xs-4 column <%=project.try(:project_type)%>">
              <div class="content">
                <a href="<%=project_path(project)%>"><img src="<%= asset_path("data:image/png;base64,#{Base64.encode64(project.images.first.data).gsub("\n", "")}")%>" alt="Mountains" style="width:100%"></a>
              </div>
            </div>
          <%#end%>
        <%end%> 
          </div>
           
            </div>
         </div>      
   </section>
   <script type="text/javascript">
   filterSelection("all")
   $('.active-class').addClass('active');
   function filterSelection(c) {
     $('.active-class').removeClass('active');
     var x, i;
     x = document.getElementsByClassName("column");
     if (c == "all") c = "";
     for (i = 0; i < x.length; i++) {
       w3RemoveClass(x[i], "show");
       if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
     }
   }

   function w3AddClass(element, name) {
     var i, arr1, arr2;
     arr1 = element.className.split(" ");
     arr2 = name.split(" ");
     for (i = 0; i < arr2.length; i++) {
       if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
     }
   }

   function w3RemoveClass(element, name) {
     var i, arr1, arr2;
     arr1 = element.className.split(" ");
     arr2 = name.split(" ");
     for (i = 0; i < arr2.length; i++) {
       while (arr1.indexOf(arr2[i]) > -1) {
         arr1.splice(arr1.indexOf(arr2[i]), 1);     
       }
     }
     element.className = arr1.join(" ");
   }


   // Add active class to the current button (highlight it)
   var btnContainer = document.getElementById("myBtnContainer");
   var btns = btnContainer.getElementsByClassName("btn");
   for (var i = 0; i < btns.length; i++) {
     btns[i].addEventListener("click", function(){
       var current = document.getElementsByClassName("active");
       current[0].className = current[0].className.replace(" active", "");
       this.className += " ";
     });
   }
</script>