 <%@ap_color= ApplicationColor.last.try(:color)%>
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
body{
    
font-style: normal;
    
font-variant: normal;
    
line-height: 26.4px;
    
color: #4e4e4e;
}
section{
    width:100%;
    float:left;
    padding: 30px 0;
}
h1 {
   font-size: 30px;
   line-height: 26.4px;
   margin-bottom: 15px;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 2px;
   }
 h3 {
   font-size: 16px;
   font-weight: 700;
   line-height: 15.4px;
   }
 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    } 
.logo-wrap img {
    width:  100%;
    float:  left;
}
.logo-wrap {
    width:  100%;
    float:  left;
}

.navbar-nav>li>a {
    font-size: 14px;
    color: #fff;
}
.mid_heading {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    left: 0;
    position: absolute;
    bottom: 0;
}
.right_text_wrap {
    width: 100%;
    float: left;
    position: absolute;
    color: #fff;
    top: 50%;
}
.sub-title {
    font-size: 16px;
    color: #fff;
    line-height: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0 0 0;
}

h6 {
    font-size: 16px;
}
.inner_header {
    width: 100%;
    float: left;
    position: relative;
}

.inner_header img {
    width: 100%;
    float: left;
}
nav#header {
    background-color: <%=@ap_color%>;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: #4e4e4e;
    background-color: transparent;
}
.mid-sub-title {
    font-size: 22px;
    position: relative;
    top: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
span.colored-text {
    color: <%=@ap_color%>;
}
.header-button {
    position: relative;
    margin-top: 6%;
    width: 100%;
    float: left;
    display: block;
}
.header-button .btn-default {
    border-color: <%=@ap_color%>;
    color: #fff;
    background-color: transparent;
    padding: 8px 14px;
    border: 1px solid <%=@ap_color%>;
}
.header-button .btn-default:hover {
    background-color: <%=@ap_color%>;
}
.header-button .btn-default.active {
    background-color: <%=@ap_color%>;
    border-color: <%=@ap_color%>;
}
.btn-default.active:hover {
    color: #fff;
    padding: 8px 14px;
}
.work-information {
    width: 100%;
    float: left;
    display:block;
}
.work-information img {
    width: 100%;
    float: left;
}
.work-success {
    width: 100%;
    float: left;
    padding: 20px;
}
.year {
    width: 100%;
    float: left;
}
.experience {
    width: 100%;
    float: left;
    clear: both;
    font-size: 35px;
    color: <%=@ap_color%>;
    font-weight: 600;
    text-transform:uppercase;
}
span.year-exp {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #4e4e4e;
    margin: 10px 0;
    font-weight: 600;
}
span.wrk {
    font-size: 30px;
    width: 100%;
    float: left;
    color: #4e4e4e;
    margin: 10px 0;
    }
.year img {
    width: 100%;
    float: left;
}
.year-info {
    width: 100%;
    float: left;
    padding: 20px;
}
.market-view {
    width: 100%;
    float: left;
    padding: 20px;
}
.work-success p {
    font-size: 16px;
    line-height: 25px;
    color: #4e4e4e;
    letter-spacing: 1px;
}
.work-success-info {
    width: 100%;
    float: left;
}
.work-success-info p {
    width: 100%;
    float: left;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 600;
}
span.Project-count {
    width: 100%;
    float: left;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 0;
    text-transform: uppercase;
}
.services {
    background-image: url("<%=asset_path 'service-image.png'%>");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    }
    .service {
    width: 100%;
    float: left;
    min-height: 132px;
}
.service img {
    width: 100%;
    max-width: 18%;
    min-width: 18%;
}
.service p a {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.sub_titl {
    font-size: 16px;
    text-transform: uppercase;
}

h2 {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.our-team {
    width: 100%;
    float: left;
    background-color: #eeeeee;
    text-align: -webkit-center;
    margin: 5px 0;
}
.our-team img {
    float: none;
    text-align: center;
    height: 150px;
}
ul.team-follow {
    list-style-type: none;
    background: #000;
    margin-bottom: 0;
    opacity: 1;
    z-index: 100000;
}

ul.team-follow li {
    display: inline-block;
}

ul.team-follow li a i {
    color: #fff;
    padding: 12px;
    font-size: 20px;
}
.well {
    border-radius: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 70px 20px;
}
.form-group {
    margin-bottom: 25px;
}
.btn-primary {
    background-color: <%=@ap_color%>;
    border-color: <%=@ap_color%>;
    width: -webkit-fill-available;
    height: 45px;
}
.btn-primary:hover {
    background-color: <%=@ap_color%>;
    border-color: <%=@ap_color%>;
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
    background-color: <%=@ap_color%>;
    border-color: <%=@ap_color%>;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: transparent;
    outline-offset: 0;
}
.input-group-addon {
    background: <%=@ap_color%>;
    color: #fff;
    border-color: <%=@ap_color%>;
    border: 1px solid <%=@ap_color%>;
}
.form-control {
    color: #4e4e4e;
    border: 1px solid #efd0a3;
    height: 45px;
}
.company-news {
    width: 100%;
    float: left;
    position:relative;
    margin: 10px 0;
}

.company-news img {
    width: 100%;
    float: left;
    max-height: 250px;
    min-height: 250px;
}
.cards {
    width: 100%;
    float: left;
    background-color: #000;
    height: 60px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
p.left-wrap {
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
}

p.right-wrap {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

span.left-card {
    color: <%=@ap_color%>;
    font-weight: 600;
}
.comapny-list {
    width: 100%;
    float: left;
}

ul.partners-list {
    list-style-type: none;
    margin-bottom: 0;
}

ul.partners-list li {
    display: inline-block;
    min-height: 100px;
    width: calc(98%/4);
}

ul.partners-list li img {
    width: 100%;
    float: left;
    max-width: 75%;
}
.partners {
    background-image: url("<%=asset_path 'company-list-img.png'%>");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.updates {
    background-image: url("<%=asset_path 'updates.png'%>");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.latest-updates {
    width: 100%;
    float: left;
}
p.latest-news {
    color: #fff;
    font-size: 24px;
    width: 100%;
    float: left;
    letter-spacing: 1px;
    font-weight: 600;
}
span.letter {
    width: 100%;
    float: left;
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.update-input .form-control {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
}
.update-input {
    width: auto;
    float: left;
    padding: 10px 0;
}
.submit-arrow img {
    float: left;
    max-width: 100%;
    width: 100%;
}
.submit-arrow {
    width: 100%;
    padding: 20px 0;
}
.submit-arrow button {
    background-color: transparent;
    border-color: transparent;
}

.submit-arrow button:focus {
    outline: none;
}
footer {
    background-image: url("<%=asset_path 'footer-bg.png'%>");
    float: left;
    padding: 15px 0 10px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer-about {
    width: 100%;
    float: left;
}
.footer-about .about-short {
    color: #fff;
    padding: 10px 0;
    line-height: 22px;
}
ul.footer-links {
    list-style-type: none;
}
ul.footer-links li {
    display: inline-block;
    width: calc(80%/5);
}
ul.footer-links li a {
    color: #fff;
    font-size: 25px;
}
ul.short-links {
    list-style-type: none;
    padding: 10px 0;
}
ul.post-header li {
    padding: 0 15px;
    line-height: 23px;
}
ul.short-links li a {
    color: #fff;
}
ul.short-links li {
    margin-bottom: 5px;
}
.logo-text {
    color: <%=@ap_color%>;
    font-size: 20px;
    font-style: italic;
    padding: 10px 0;
    font-weight: 600;
}
.address {
    color: #fff;
    padding: 8px 0;
}
.contact {
    padding: 5px 0;
    color: #fff;
}
.mail {
    color: #fff;
    padding: 5px 0;
}
.address p span {
    margin: 10px 10px 0 0;
    color: <%=@ap_color%>;
    font-size: 18px;
}
.contact p span {
    color: <%=@ap_color%>;
    font-size: 18px;
    margin: 10px 10px 0 0;
}
.mail p span {
    color: <%=@ap_color%>;
    font-size: 16px;
    margin: 10px 10px 0 0;
}
ul.post-img {
    list-style-type: none;
    padding: 10px 0;
}
ul.post-img li img {
    width: 100%;
    float: left;
    margin: 0 0 30px 0;
    max-height: 48px;
    min-height: 48px;
}
ul.post-header {
    color: #fff;
    list-style-type: none;
}
ul.post-header li a {
    color: #fff;
    font-size: 14px;
}
span.post-date {
    font-size: 10px;
}
.copyright {
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 10px 0 10px 0;
    border-top: 1px solid #fff;
}
.copyright span {
    color: <%=@ap_color%>;
}
.testimonial {
    background-color: #375679;
    background-size: cover;
}
.service p {
    padding: 15px 0;
}
.testimonal-img {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 1000;
    top: -25%;
    left: 36%;
    max-width: 25%;
}
.testimonals-text {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 40px;
    position: relative;
    z-index: 999;
    height: 260px;
    max-height: 260px;
    min-height: 260px;
}
.testimonals-text p {
    color: #4e4e4e;
    letter-spacing: 1px;
}
.testimonal-data {
    margin: 60px 0;
}

.mobile-view {
    display: none;
}
#myBtnContainer {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.hideme
{
    opacity:0;
}
.work-success-info a {
    color: #4e4e4e;
}
.work-success-info a:hover, .work-success-info a:focus {
    color: <%=@ap_color%>;
}
a:hover, a:focus
{
    text-decoration:none;
    transition: all .6s ease-in-out;

}
.author {
    font-size: 15px;
    font-weight: 600;
}
.our-team a {
    color: #4e4e4e;
}

.our-team a:hover {
    color: <%=@ap_color%>;
}
ul.team-follow li a i:hover {
    color: <%=@ap_color%>;
    transition: all .6s ease-in-out;
    transform: scale(1.5);
}
.btn-primary:active, .btn:focus {
    background-color: <%=@ap_color%>;
    border-color: <%=@ap_color%>;
}
#myBtnContainer .btn:hover {
    color: <%=@ap_color%>;
}
/*------light-slider css-------*/
.main {
    max-width: 100%;
    margin: auto;
}
.column {
    display: none; /* Hide all elements by default */
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;

  cursor: pointer;
}
.btn:hover {
  background-color: <%=@ap_color%>;
}
.btn.active {
  background-color: #666;
  color: white;
}
.content img {
    width: 100%;
    float: left;
    height: auto;
    min-height: 250px;
    max-height: 250px;
    background-color: #000;
    transition: opacity 0.3s;
}
.content img:hover {
    opacity: 1;
    box-shadow: 1px 5px 8px 2px #999;
   /* transition: all .6s ease-in-out;
    transform: scale(1.1);*/
}
div#myBtnContainer btn {
    background-color: #fff;
}

#myBtnContainer .btn {
    background-color: #fff;
    color: #4e4e4e;
    border: 1px solid <%=@ap_color%>;
    border-radius:0;
}

#myBtnContainer .btn.active {
    background-color: <%=@ap_color%>;
    color: #fff;
    box-shadow: none;
}
h5 {
    font-weight: 600;
}
.quote-img {
    display: block;
}
ul.post-img {
    display: none;
}

ul.footer-links li a:hover {
    color: <%=@ap_color%>;
    transition: all .6s ease-in-out;
}
ul.short-links li a:hover {
    color: <%=@ap_color%>;
    text-decoration: underline;
}
ul.post-img {
    display: block;
}

ul.post-header li a:hover {
    color: <%=@ap_color%>;
}
hr.footer-heading {
    float: none;
    margin: 10px 0;
    border: .5px solid <%=@ap_color%>;
}
.desktop-view-hidden {
    display: block;
}
/*----sidebar nav css----*/


/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  
}*/

/* media css */

@media only screen and (max-width: 342px) and (min-width: 320px)
{
    ul.post-header img{
    display: none !important;
}
.right_text_wrap {
    top: 25%;
}
.mid_heading {
    font-size: 25px;
    letter-spacing: 0px;
}
.mid-sub-title {
    font-size: 16px;
}
}
@media only screen and (max-width: 375px) and (min-width: 320px)
{
ul.team-follow li a i {
    padding: 6px;
    font-size: 16px;
}
}
@media only screen and (max-width: 359px) and (min-width: 341px)
{
.mid-sub-title {
    font-size: 18px;
    top: 30px;
    letter-spacing: 0;
}
.mid_heading {
    font-size: 20px;
    letter-spacing: 0;
}
.right_text_wrap {
    top: 40%;
}
}
@media only screen and (max-width: 437px) and (min-width: 360px)
{
 .right_text_wrap {
    top: 45%;
}
.mid_heading {
    font-size: 21px;
    letter-spacing: 0;
}
.mid-sub-title {
    font-size: 16px;
    top: 35px;
    letter-spacing: 0px;
}
}
@media only screen and (max-width: 480px) and (min-width: 376px)
{
ul.team-follow li a i {
     padding: 8px 10px;
     font-size: 16px;
}
}
@media only screen and (max-width: 494px) and (min-width: 438px)
{
.mid-sub-title {
    font-size: 16px;
    top: 35px;
    letter-spacing: 0;
}
.mid_heading {
   font-size: 22px;
   letter-spacing: 0;
}
}
@media only screen and (max-width: 767px) and (min-width: 495px)
{
.mid_heading {
    font-size: 38px;
    letter-spacing: 0px;
 }
.mid-sub-title {
    font-size: 20px;
    letter-spacing: 1px;
}
.content img {
    min-height: 160px;
    max-height: 160px;
}
}
@media only screen and (max-width: 550px) and (min-width: 320px)
{
  .content img {
    min-height: 100px;
    max-height: 100px;
  }
  #myBtnContainer .btn {
    padding: 6px 6px;
    font-size: 12px;
}
ul.partners-list li {
    min-height: 30px;
}
p.right-wrap {
    font-size: 10px;
    line-height: 0;
}
p.left-wrap {
    font-size: 10px;
}
.cards {
    height: 40px;
}
}
@media only screen and (max-width: 767px) and (min-width: 551px)
{
#myBtnContainer .btn {
   padding: 8px 15px;
}
ul.partners-list li {
    min-height: 60px;
}
}
@media only screen and (max-width: 767px) and (min-width: 320px)
{
 .testimonals-text {
    height: auto;
    min-height: auto;
    max-height: unset;
}
ul.post-header img{
    display: none !important;
}
.contact-map
{
    display:none !important;
}
ul.partners-list li {
  width: calc(95%/4);
}
.mobile-view {
    display: block;
}
h6 {
    font-size: 14px;
}
#main {
    float: right;
    padding: 5px 0px;
    color: <%=@ap_color%>;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.sidenav a {
    padding: 6px 8px 0px 32px;
    text-decoration: none;
    color: #4e4e4e;
    display: block;
    transition: 0.3s;
    font-size: 20px;
}
.sidenav a:hover {
    color: <%=@ap_color%>;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
nav#header {
    background-color: #778899de;
    border-bottom: 2px solid <%=@ap_color%>;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header-button {
    display: none;
}
.experience {
    width: auto;
    font-size: 25px;
}
.work-success {
   padding: 0;
}
span.wrk {
    font-size: 20px;
}
span.Project-count {
    font-size: 16px;
}
.work-success-info p {
    font-size: 25px;
}
.market-view {
    padding: 5px 20px;
}
.service {
   text-align: center;
}
.service img {
   display: inline;
}
.service p a {
    font-size: 14px;
    color: #fff;
}
.navbar {
    min-height: 40px;
    height: 40px;
}
h5, .h5 {
    font-size: 13px;
}
.quote-img {
    display: none;
}
.well {
    padding: 0;
}
h2, .h2 {
    font-size: 22px;
}
h1 {
    margin: 10px 0 15px 0;
    font-size: 22px;
}
.testimonals-text {
    padding: 25px;
    margin: 10px 0;
}
.testimonal-img {
    top: -16%;
}
h4 {
    text-align: center;
    margin: 0;
    padding: 5px 0 0 0;
}
.footer-about {
   text-align: center;
}
ul.footer-links li {
    width: calc(60%/5);
}
ul.short-links {
    text-align: center;
    margin: 0;
}
.logo-text, .address, .contact, .mail, ul.post-header {
    text-align: center;
}
ul.post-img {
    display: none;
}
.desktop-view-hidden {
    display: none;
}
.testimonal-data {
    margin:0;
}
section {
    padding: 20px 0;
}
.work-information {
    display: none;
}
p.left-wrap {
    width: 100%;
    padding: 0;
}
p.right-wrap {
    float: left;
    padding: 0;
    width: 100%;
}
.latest-news {
    font-size: 16px !important;
}
span.letter {
  font-size: 14px;
}
}
@media only screen and (max-width: 991px) and (min-width: 768px)
{
ul.post-header img{
    display: none !important;
}
.navbar-nav>li>a
 {
    padding: 12px;
 }
 .mid_heading {
   font-size: 35px;   
}
.header-button {
    margin-top: 8%;
}
h4 {
    font-size: 16px;
    letter-spacing: 0px;
}
.logo-text {
    font-size: 16px;
}
.address p {
    font-size: 12px;
}
.address {
    padding: 0px 0;
}
ul.post-header li a {
    font-size: 12px;
}
.contact p {
    font-size: 12px;
}
p.mailling span {
    font-size: 14px;
}
p.mailling {
    font-size: 12px;
}
ul.footer-links li a {
    font-size: 18px;
}
ul.short-links li a {
    font-size: 12px;
}
p.about-short {
    font-size: 12px;
}
p.latest-news {
    font-size: 16px;
}
span.letter {
    font-size: 15px;
}
ul.team-follow li a i {
   padding: 8px;
}
.testimonal-img {
   top: -8%;
}
p.left-wrap {
    padding: 0px;
    font-size: 12px;
    margin: 0;
}
p.right-wrap {
    padding:0;
    font-size: 12px;
    float:left;
}
.cards {
    height: 40px;
}
.news {
    padding: 0;
}
.testimonals-text {
    height: auto;
    min-height: auto;
    max-height: unset;
}
}
@media only screen and (max-width: 1024px) and (min-width: 992px)
{
.mid_heading {
   font-size: 35px;   
}
.testimonal-img {
    top: -15%;
}
.testimonals-text {
    height: auto;
    min-height: auto;
    max-height: unset;
}
}

@media only screen and (max-width: 1200px) and (min-width: 1025px)
{
.testimonals-text {
    height: auto;
    min-height: auto;
    max-height: unset;
}
}

/*----end-----*/

/*---about-us css---*/

.h5 {
    font-size: 16px;
    font-weight: 600;
}
.product-information {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 1px 1px 1px #b9b9b9;
    background-color: #fff;
}
.product-information img {
    display: inline;
    width: 100%;
    max-width: 60px;
    float: none;
}
.h6 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}
.product-information:hover {
    transition: all .6s ease-in-out;
    transform: translateY(-8px);
    cursor: pointer;
}
.challenges-heading {
    width: 100%;
    float: left;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0;
}
.challenges-sub-heading {
    float: left;
    width: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
.challenges {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.challenges-info {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 60px 0;
}
.work-on {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.work-on img {
    width: 100%;
    float: left;
    padding: 30px;
}
.achievement {
    background-image: url("<%=asset_path 'achievements.png'%>");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.achievement-info a {
    color: #fff;
}

.mission-details {
    padding: 0;
    line-height: 18px;
}
.mission-image {
    width: 100%;
    float: left;
}
.mission-image img {
    width: 100%;
    float: left;
}
.pro {
    float: left;
    width: 100%;
    background: <%=@ap_color%>;
    position: relative;
    top: -30px;
    padding: 20px;
}
.product {
    padding: 0;
}
p.service-title a {
    color: #4e4e4e;
}
.service-description {
    float: none;
    text-align: center;
}
.service-description img {
    float: none;
    text-align: center;
    display: inline;
}
h2.visn {
    margin-bottom: 0;
    border-bottom: 2px solid <%=@ap_color%>;
    padding: 5px 0;
    font-size: 25px;
}
.mission-part {
    width: 100%;
    float: left;
    border: 2px solid <%=@ap_color%>;
    padding: 10px;
}
.challenges-information {
    font-size: 14px;
    letter-spacing: 1px;
}
.service-detail {
    background: #ffe5d3;
}
.achievement-info img {
    width: 100%;
    float: none;
    max-width: 100px;
    height: 90px;
    min-height: 90px;
    text-align: center;
    display: inline;
    margin: 25px 0;
}
.service p:hover {
    color: <%=@ap_color%>;
    transition: all .6s ease-in-out;
}
/*----end-----*/

/*----gallery CSS----*/
.marquee-list {
    width: 100%;
    float: left;
}

.marquee-list img {
    width: 100%;
    float: left;
}
ul.content-list {
    list-style-type: none;
    margin-bottom: 0 !important;
}

ul.content-list li img {
    width: 100%;
    margin: 12px;
    max-width: 20px;
}
.project-content {
    width: 100%;
    float: left;
}
.project-content {
    width: 100%;
    float: left;
    background: #0a69a0;
    color: #fff;
    margin: 5px 0;
    padding: 25px 0;
    
}
ul.content-list li {
    /* border-bottom: 1px solid #fff; */
    padding: 0 10px;
    font-size: 12px;
}
.projects-slide-list {
    width: 100%;
    float: left;
    background: <%=@ap_color%>;
    padding: 20px;
}
.crousal-slide {
    padding-top: 0;
}
.other-projects img {
    width: 100%;
    float: left;
    padding: 10px;
    max-height: 214px;
    min-height: 214px;
}
.other-projects {
    width: 100%;
    float: left;
}
ul.slides-content img {
    width: 100%;
    
    float: left;
}

ul.slides-content {
    list-style-type: none;
}

ul.slides-content li {
    margin: 10px;
}
.contact-map iframe {
    height: 332px;
    width: 100%;
}

.contact-map {
    width: 100%;
    float: left;
    padding: 6px 0;
    display: block;
}
.flexslider .slides img {
    min-height: 332px;
    height: 332px !important;
    max-height: 332px;
}

.flex-direction-nav a:before {
    font-size: 30px !important;
}
ul.post-header img {
    padding: 5px;
    width: 100%;
    float: left;
    max-width: 22%;
    display: block;
}
/*----end-----*/
