	<%@news=News.order('created_at DESC').limit(3)%>
	<%@social= SocialLink.last%>
	<% @company_update = CompanyUpdate.new %>
<section class="updates">
    <div class="container">
    	<div id="flash1"></div>
	    <div class="row">
		    <div class="col-md-1 col-sm-1"></div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="latest-updates">
				    <p class="latest-news"><span class="letter"> News Letter For </span> Our Latest Company Updates</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<%= form_for @company_update,  url:welcome_company_update_path ,remote: true  do |f| %>
				<%#= form_for current_user, url: update_image_user_path(current_user), 
				    method: :post, html: {multipart: :true}, remote: true,  
				    :authenticity_token => true do |f| %>

				    <div class="update-input">
				    	<%= f.text_field :email, class: "form-control", placeholder: "Your Email Address",:required => true %>
				    		
				    </div>
					<div class="submit-arrow">
						<button type="submit"><img src="<%= asset_path("submit-arrow.png")%>" class="img-responsive"/>
						</button>

					</div>
				<% end -%>
			</div>
		</div>
	</div>
</section>
	
	
	  
      <!--------------------------footer------------------->
<footer>
    <div class="container">
	    <div class="row">
		    <div class="col-md-3 col-sm-3 col-xs-12">
			    <h4>About Us</h4>
				<hr class="footer-heading">
			<div class="footer-about">
			    <p class="about-short">Sustainable glazing is a company of Young Professionals with core competency in engineering & management. Our core team has strong technical expertise in Glass and fabrication and is focused to upgrade the industry standards.</p>
			<ul class="footer-links">
			    <li><a href="//<%=@social.try(:facebook)%>"target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="//<%=@social.try(:google)%>"target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				<li><a href="//<%=@social.try(:twitter)%>"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="//<%=@social.try(:instagram)%>"target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="//<%=@social.try(:pinterest)%>"target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			</ul>
			</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
			    <h4>Important Links</h4>
				<hr class="footer-heading">
			<div class="important-links">
			    <ul class="short-links">
				    <li class="active"><a href="/">Home</a></li>
                   <li><a href="/welcome/aboutus" >About</a></li>
                   <!-- <li><a href="#" >Services</a></li> -->
                   <li><a href="/project/index" >Projects</a></li>
                  <!--  <li><a href="#" >News</a></li> -->
                   <li><a href="/welcome/career" >Careers</a></li>
                   <li><a href="#">Contact</a></li>
				</ul>
			</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
			    <h4>Contact Us</h4>
				<hr class="footer-heading">
			<div class="logo-text">Sustainable Glazing</div>
			<div class="address">
			   <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Reg. Add:520,Ocean,Complex, p-6,Sector-18, Noida-201301</p> 
			</div>
			<div class="contact">
			    <p><span><i class="fa fa-phone" aria-hidden="true"></i></span>+(91) 0120-4235367</p>
			</div>
			<div class="mail"><p><span><i class="fa fa-envelope-open" aria-hidden="true"></i></span><a href="mailto:arpitmishra@sustainableglazing.com">arpitmishra@sustainableglazing.com</a></p></div>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12">
			 	<h4>Latest Posts</h4>
				<hr class="footer-heading">
				<div class="row">
					<ul class="post-header">
						<%@news.each do |news|%>
					    <li><a href="#"><%=news.description%><br />
						<span class="post-date"><%=news.created_at.to_date%>.</span></a></li>
						<!-- <li><a href="#"></li>
						<li><a href="#"><img src="images/footer-img.png" />Spiders & Alexa Sleek Interior System Profiles<br />
						<span class="post-date">18  Sept  2018.</span></a></li>
						<li><a href="#"><img src="images/footer-img.png" />Spiders & Alexa Sleek Interior System Profiles<br />
						<span class="post-date">18  Sept  2018.</span></a></li> -->
						<% end -%>
					</ul>
				</div>
			</div>
		<div class="row">
		    <div class="col-md-12 col-sm-12 col-xs-12">
			    <div class="copyright">© Sustainable Glazing Corporation,  All rights reserved  |  Design by  <span><a href="http://www.bittern.co/" target="blank" style="color: <%=ApplicationColor.last.try(:color)%>">Bittern Technologies </a></span></p></div>
			</div>
		</div>
	</div>
</footer>