<header>
	 <nav id="header" class="navbar navbar-fixed-top">
	    <div id="header-container" class="container navbar-container">
	       <div class="row">
		        <div class="col-md-4 col-sm-4 col-xs-8">
						<div class="logo-wrap">
							<a href="/" class="navbar-brand"><img class="img-responsive" src="<%= asset_path("logo.png")%>" alt="logo" /></a>
						</div>
				</div>
				<div class="col-md-2 col-sm-2">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-4">
	             <div id="myNavbar" class="mobile-view" role="navigation" >
	                <!---<button class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                </button>--->
					<div id="main">
						<span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; </span>
					</div>
	             </div>
				 <div id="mySidenav" class="sidenav mobile-view">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a href="/">Home</a>
						<a href="/welcome/aboutus" >About</a>
						<a href="/project/index" >Projects</a>
						<a href="/welcome/career" >Careers</a>
						<a class="donate-link" href="#">Contact us</a>
				</div>
				<div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="false" style="">
	                <ul class="nav navbar-nav">
	                   <li class="active"><a href="/">Home</a></li>
	                   <li><a href="/welcome/aboutus" >About</a></li>
	                   <li><a href="/welcome/service" >Services</a></li>
	                   <li><a href="/project/index" >Projects</a></li>
	                  <!--  <li><a href="#" >News</a></li> -->
	                   <li><a href="/welcome/career" >Careers</a></li>
	                   <li><a href="#">Contact</a></li>
					</ul>
	            </div>
	            </div>
			</div>
	    </div>
	 </nav>
	 </header>
	 

<!----------------------end header-------------->