<!DOCTYPE html>
<html>
  <head>
    <title>Sustainable</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   <%=render "layouts/header"%>
   <div class="clearfix"></div>
   
    <%= yield %>
    <%=render "layouts/footer"%>
  </body>
</html>

<style type="text/css">
  <%@ap_color = ApplicationColor.last.try(:color)%>
nav#header {
background-color: <%=@ap_color%>!important;
}
span.colored-text {
color: <%=@ap_color%>!important;
}
.header-button .btn-default {
border-color: <%=@ap_color%>!important;
border: 1px solid <%=@ap_color%>!important;
}
.header-button .btn-default:hover {
background-color: <%=@ap_color%>!important;
}
.header-button .btn-default.active {
background-color: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
}
.experience {
color: <%=@ap_color%>!important;
}
.btn-primary {
background-color: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
}
.btn-primary:hover {
background-color: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
background-color: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
}
.input-group-addon {
background: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
border: 1px solid <%=@ap_color%>!important;
}
span.left-card {
color: <%=@ap_color%>!important;
}
.logo-text {
color: <%=@ap_color%>!important;
}
.address p span {
color: <%=@ap_color%>!important;
}
.contact p span {
color: <%=@ap_color%>!important;
}
.mail p span {
color: <%=@ap_color%>!important;
}
.copyright span {
color: <%=@ap_color%>!important;
}
.work-success-info a:hover, .work-success-info a:focus {
color: <%=@ap_color%>!important;
}
.our-team a:hover {
color: <%=@ap_color%>!important;
}
ul.team-follow li a i:hover {
color: <%=@ap_color%>!important;
}
.btn-primary:active, .btn:focus {
background-color: <%=@ap_color%>!important;
border-color: <%=@ap_color%>!important;
}
#myBtnContainer .btn:hover {
color: <%=@ap_color%>!important;
}
/*------light-slider css-------*/
.btn:hover {
background-color: <%=@ap_color%>!important;
}
#myBtnContainer .btn {
border: 1px solid <%=@ap_color%>!important;
}
#myBtnContainer .btn.active {
background-color: <%=@ap_color%>!important;
}
ul.footer-links li a:hover {
color: <%=@ap_color%>!important;
}
ul.short-links li a:hover {
color: <%=@ap_color%>!important;
}
ul.post-header li a:hover {
color: <%=@ap_color%>!important;
}
hr.footer-heading {
border: .5px solid <%=@ap_color%>!important;
}
/*----sidebar nav css----*/
/*@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
}*/
/* media css */
@media only screen and (max-width: 767px) and (min-width: 320px)
{
#main {
color: <%=@ap_color%>!important;
}
.sidenav a:hover {
color: <%=@ap_color%>!important;
}
nav#header {
border-bottom: 2px solid <%=@ap_color%>!important;
}
}
/*----end-----*/
/*---about-us css---*/
.pro {
background: <%=@ap_color%>!important;
}
h2.visn {
border-bottom: 2px solid <%=@ap_color%>!important;
}
.mission-part {
border: 2px solid <%=@ap_color%>!important;
}
.service p:hover {
color: <%=@ap_color%>!important;
}
/*----end-----*/
/*----gallery CSS----*/
.projects-slide-list {
background: <%=@ap_color%>!important;
}
/*----end-----*/
</style>

</style>